<a href="https://colab.research.google.com/github/amsoftmobile/ProjetoGemini/blob/main/ConsultaBancoClientes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pymssql

Collecting pymssql
  Downloading pymssql-2.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 31.8 MB/s eta 0:00:00
Installing collected packages: pymssql
Successfully installed pymssql-2.3.0

In [24]:
import pymssql

# Informações de conexão
server = 'incas.no-ip.net'
database = 'incas'
username = 'sa'
password = 'menuauto'

# Tentar conectar ao banco de dados
try:
    conn = pymssql.connect(server=server, user=username, password=password, database=database)
    print("Conexão bem-sucedida!")

    # Criar um cursor para executar comandos SQL
    cursor = conn.cursor()

    # Exemplo de consulta
    cursor.execute("SELECT * FROM CLIENTES")
    row = cursor.fetchone()
    print(f"Versão do servidor SQL: {row[0]}")

    # Fechar a conexão
    conn.close()

except Exception as e:
    print(f"Erro ao conectar ao banco de dados: {e}")

Conexão bem-sucedida!
Versão do servidor SQL: 0

In [25]:
conn = pymssql.connect(server=server, user=username, password=password, database=database)
cursor = conn.cursor()
cursor.execute("""SELECT TOP 20
    c.CLIENTEID,
    c.nome,
    c.FANTASIA,
    c.CPF_CNPJ,
    c.LOGRADOURO,
    c.NUMERO,
    c.BAIRRO,
    c.CEP,
    c.TELEFONE,
    cid.cidade,
    cid.uf
FROM
    CLIENTES c
LEFT JOIN
    CIDADES cid ON (cid.CIDADEID = c.cidadeid)""")

In [27]:
results = cursor.fetchall()

In [28]:
with open("/content/clientes.html", "w") as f:
    f.write("""
   <!DOCTYPE html>
<html>
<head>
  <title>Consulta de Clientes</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 5px;
    }

    tr:nth-child(even) {
      background-color: #e0f2f1;
    }
  </style>
</head>
<body>
  <h1>Consulta de Clientes</h1>
  <table>
    <thead>
      <tr>
        <th>CLIENTEID</th>
        <th>Nome</th>
        <th>Fantasia</th>
        <th>CPF/CNPJ</th>
        <th>Logradouro</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>CEP</th>
        <th>Telefone</th>
        <th>Cidade</th>
        <th>UF</th>
      </tr>
    </thead>
    <tbody>
    """)

    # Adicionando os dados da consulta ao arquivo HTML
    for row in results:
        f.write(f"""
                <tr>
                    <td>{row[0]}</td>
                    <td>{row[1]}</td>
                    <td>{row[2]}</td>
                    <td>{row[3]}</td>
                    <td>{row[4]}</td>
                    <td>{row[5]}</td>
                    <td>{row[6]}</td>
                    <td>{row[7]}</td>
                    <td>{row[8]}</td>
                    <td>{row[9]}</td>
                    <td>{row[10]}</td>
                </tr>
        """)

    # Finalizando o arquivo HTML
    f.write("""
             </tbody>
  </table>

</body>
</html>
    """)

In [17]:
cursor.close()
conn.close()